name: Set Stripe webhook secret

on:
  workflow_dispatch:

jobs:
  set-env:
    runs-on: ubuntu-latest
    steps:
      - name: Set webhook secret
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          password: ${{ secrets.VPS_PASSWORD }}
          script: |
            cd /var/www/new.clientsupport.app
            sed -i 's|STRIPE_WEBHOOK_SECRET="whsec_..."|STRIPE_WEBHOOK_SECRET="${{ secrets.STRIPE_WEBHOOK_SECRET }}"|' .env
            echo "Done:"
            grep STRIPE_WEBHOOK .env | sed 's/=.*/=***/'
